.header {
    &__border {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 4px 0;
        margin-top: 5px;

        @media screen and (max-width: 575px) {
            margin-top: 0;
            align-items: center;
            background-color: white;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1030;
        }
    }

    &__menu {
        border-top: 1.5px solid rgb(214, 124, 214);
        border-bottom: 1.5px solid rgb(214, 124, 214);

        &-ativo {
            border-top: rgba(214, 124, 214, 0.5);
            border-bottom: rgba(214, 124, 214, 0.5);
        }

        &__lista {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 13px;
            margin: 0 auto;
            width: 50%;
            color: grey;

            @media screen and (max-width: 767px) {
                justify-content: space-between;
            }

            @media screen and (max-width: 575px) {
                display: none;
            }

            &__links a {
                color: rgba(128, 128, 128, 0.609);
                transition: 0.7s;
                text-decoration: none !important;

                &:hover {
                    color: black !important;
                }
            }
        }

        &__mobile {
            @media screen and (max-width: 575px) {
                padding-bottom: 7px;
            }
        }

        &__nav {
            background-color: white;
            display: none;
            transition: 0.2s;

            &-ativo {
                background-color: rgba(255, 255, 255, 0.5);
            }

            @media screen and (max-width: 575px) {
                display: flex;
                padding-left: 60px;
            }
        }

        &__botao {
            display: flex;
            outline: none !important;
        }

        &__login {
            vertical-align: middle;
            margin-right: 5px;
            color: rgb(255, 208, 0);
        }
    }

    &__banner {
        width: 100vw;
        height: 140px;
        background-position: center;
        background-image: url(../img/banner.webp);
        background-repeat: no-repeat;
        background-position-x: 55%;

        @media screen and (max-width: 575px) {
            margin-top: 45px;
            background-size: cover;
        }
    }
}

.material-icons {
    vertical-align: middle;
    margin-right: 5px;
    color: rgb(255, 208, 0);
}

.nav-ativo {
    //background-color: rgba(165, 165, 165, 0.5);
    //border-radius: 50%;
    // width: 40px;
    // height: 40px;
    position: relative;
    transition: 0.2s;
    //padding: 1px 0;
}

.login {
    vertical-align: middle;
}
