@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.main {
  background-image: url(../img/background-padrão.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  width: 100%;
}
.main__opiniao {
  display: grid;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding: 20px 0;
  grid-template-columns: repeat(auto-fill, 50%);
  justify-content: space-evenly;
  grid-gap: 20px 0;
}
@media screen and (max-width: 768px) {
  .main__opiniao {
    grid-template-columns: repeat(auto-fill, 100%);
    justify-content: space-evenly;
    grid-gap: 20px 0;
  }
}
.main__imagem {
  display: flex;
  justify-content: center;
}
.main__imagem img {
  border-radius: 20%;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .main__imagem img {
    width: 300px;
  }
}
@media screen and (max-width: 420px) {
  .main__imagem img {
    width: 200px;
  }
}
@media screen and (max-width: 300px) {
  .main__imagem img {
    width: 150px;
  }
}
.main__contato {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 10px 20px 30px;
  border-radius: 10px;
}
@media screen and (max-width: 992px) {
  .main__contato {
    padding: 20px 20px 20px 15px;
  }
}
@media screen and (max-width: 768px) {
  .main__contato {
    margin-top: 20px;
  }
}
.main__contato h3 {
  font-size: 20px;
  letter-spacing: 1.5px;
}
.main__formulario-input {
  margin-top: 10px;
  display: inline-block;
  width: 255px;
}
.main__formulario-input:last-child {
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .main__formulario-input {
    width: 210px;
  }
}
@media screen and (max-width: 992px) {
  .main__formulario-input {
    width: 315px;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 768px) {
  .main__formulario-input {
    flex-direction: column;
    width: 100%;
  }
}
.main__formulario-input input {
  border-radius: 10px;
  padding: 2px 12px;
}
@media screen and (max-width: 1200px) {
  .main__formulario-input input {
    width: 190px;
  }
}
@media screen and (max-width: 768px) {
  .main__formulario-input input {
    width: 100%;
  }
}
.main__avaliacao {
  padding-top: 20px;
}
.main__textarea {
  width: 470px;
  resize: none;
  height: 70px;
  border-radius: 10px;
  font-weight: 400;
  padding: 2px 10px;
}
@media screen and (max-width: 1200px) {
  .main__textarea {
    width: 405px;
  }
}
@media screen and (max-width: 992px) {
  .main__textarea {
    width: 405px;
  }
}
@media screen and (max-width: 768px) {
  .main__textarea {
    width: 100%;
  }
}
.main__quem-somos {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-family: "Cookie", cursive;
  font-weight: bold;
}
.main__quem-somos-h2 {
  font-size: 3rem;
  padding-bottom: 20px;
}
.main__quem-somos h3 {
  font-size: 2.5rem;
  padding: 15px 0;
}
.main__quem-somos p {
  font-size: 1.7rem;
  padding-top: 15px;
}
.main__quem-somos-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .main__quem-somos__pandora {
    padding-top: 20px;
  }
}
.main__quem-somos-icon {
  width: 40px;
}

#pagina-atual {
  color: black !important;
}

.input-label {
  margin-bottom: 2px;
}

.botao__feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.botao__feedback__enviar {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.5s;
  padding: 10px 30px;
}
.botao__feedback__enviar:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 577px) {
  .container {
    width: 80% !important;
  }
}

/*# sourceMappingURL=styles-sobre.css.map */
